.container {
  width: 1152px;
  margin: 0 auto;
}
body{
    font-family:"游ゴシック", "Yu Gothic";
}

.menu{
    display:flex;
   
    margin-top:60px;
    
  
}

.menus {
    margin-right:20px;
    font-size:14px;
    font-weight:bold;
   
}

header{

    display:flex;
    justify-content: flex-end;
}


.logo{
    z-index: 10;
    margin-top:-110px;
    position:absolute;
}


.americanvillage{
    /* margin-top:-132px; */
    margin-left:60px;
    z-index: -200;
}

.americanvillageimg-sp {
    display: none;
}

.text{

    margin-top:-215px;
    margin-left:650px;
}


main{
    margin-top:48px;
    position:relative;
}
.phrase{
    font-size:24px;
    margin-top:-25px;
    
}
.textsp{
    display:none;
}

@media screen and (max-width: 767px){

    .logo{
        width:100%;
        display:flex;
        justify-content: center;
        margin-top:-10px;
        position: static;
        margin-bottom: 20px;
    }

    .logoimg{
        width:216px;
        height:216px;
    }

    header{
        display:none;
    }
    .americanvillageimg{
        display: none;
    }

    .americanvillageimg-sp {
        width:100%;
        display: block;
    }

    .americanvillage{
      width:100%;
      margin:0;
      position: relative;
    }

    .text {
      margin: 0;
    }

    .textsp{
      display:block;
      width:50%;
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .textpc{
      display:none;
    }
    .container{ 
        width:100%;
    }

    .phrase{
      text-align:center;
      font-size:32px;
      width:100%;
      height:80px;
      margin: 0;
    }

    .phrase span {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0;
        font-size:32px;
    }
}


